@import "vars";
h1 {
    color:#fff;
    text-align: center;
    font-size: 42px;
    padding:50px 0;
}
.calendarWrap {
    width:100%;
    .dateBox input {
        margin-bottom: 20px;
        width:400px;
        height: 50px;
        background: fff;
        outline: none;
        padding:0 10px;
        border-radius: 5px;
        box-sizing: border-box;
        border: none;
        background-color: rgb(3, 104, 187);
        color:#fff;
        font-size: 20px;
        font-weight: 500;
        //overflow: hidden;
        @include longShadow( darken(rgb(3, 104, 187),10),right,100);
    }
}
#calendar {
    width:100%;
    background: #fff;
    //border-radius: 15px;
    //box-shadow: 5px 5px 5px rgba(0,0,0,0.1);
    padding:10px;
    .todo {
        background-color: #666;
        text-align: center;
        .day {
            color:#fff;
            font-size: 20px;
            padding: 15px 0 0;
        }
        .date {
            font-size:64px;
            margin: 30px 0;
            color:#fff;
            @include longShadow(darken(#666,10),right,80);
        }
        .inputBox {
            width:100%;
            display: flex;
            outline: none;
            padding:0 10px;
            #todoTxt {
                box-sizing: border-box;
                height: 40px;
                width:calc(100% - 40px);
            }
        }
        .btnAdd {
            width:40px;
            height:40px;
            background-color: rgb(2, 117, 184);
            color:#fff;
            &.not {
                pointer-events: none; // css에서 자바스크립트 이벤트 막기...
            }
        }
        .todoList {
            color:#fff;
            padding:10px;
            font-size: 14px;
            li {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-bottom: 5px;
                margin-bottom: 5px;
                border-bottom: 1px solid #fff;
                position: relative;
                padding-left: 10px;
                &.done:before {
                    width:calc(100% - 50px);
                }
                &:before {
                    content: '';
                    display: block;
                    position: absolute;
                    pointer-events: none;
                    left:0;
                    top:13px;
                    width:2px;
                    height: 2px;
                    background-color: #f00;
                    transition: all 0.25s ease;
                }
                .btnDelete {
                    color:#fff;
                }
            }

        }
    }
    .calendarBox {
        width:100%;

        

        .header {
            display: flex;
            height: 60px;
            justify-content: space-between; // 가로 
            align-items: center; //세로
            .monthTitle {
                .month {
                    font-weight: 700;
                    margin-left: 10px;
                    text-transform: uppercase;
                }
            }
        }
        .days {

        }
        .dates {
            .itemList {
                li {
                    cursor: pointer;
                    //cursor: merdalae;

                }
            }
        }
        .itemList {
            display: flex;
            flex-wrap: wrap;
            padding:10px;
            
            li {
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 300px;
                overflow: hidden;
                background-color: #666;
                color:#fff;
                flex-basis: calc(100% / 7 - 4px);
                margin: 2px;
                position: relative;
                &.sun {background-color: #f00;}
                &.sat {background-color: rgb(223, 90, 1);}
                &.blank {background-color: transparent;pointer-events: none;}
                &.today {background-color: rgb(3, 132, 172);}
                &.on {border: 3px solid #111;}
                &:before {
                    content:"";
                    display: block;
                    padding-top: 100%;
                }
                > span {
                    position: absolute;
                    left:0;
                    top:0;
                    right:0;
                    bottom:0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }
}