<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jjang051.mybatis.MemberMpper">
	<select id="showAllMember" resultType="MemberDto">
		SELECT * FROM MEMBER ORDER
		BY NO DESC
	</select>
	<select id="getSelectOne" parameterType="Integer"
		resultType="MemberDto">
		SELECT * FROM MEMBER WHERE NO = #{no}
	</select>

	<insert id="insertMember" parameterType="MemberDto">
		INSERT INTO MEMBER
		VALUES (SEQ_MEMBER.NEXTVAL,
		#{id},
		#{password},
		#{name},
		#{zipcode},
		#{address},
		#{hp},
		#{email}
		)
	</insert>
	<select id="getLoggedMember" parameterType="MemberDto"
		resultType="MemberDto">
		SELECT * FROM MEMBER WHERE ID = #{id} AND PASSWORD =
		#{password}
	</select>

	<select id="getPassword" parameterType="Integer"
		resultType="String">
		SELECT PASSWORD FROM MEMBER WHERE NO = #{no}
	</select>

	<delete id="deleteMember" parameterType="Integer">
		DELETE FROM MEMBER WHERE
		NO = #{no}
	</delete>

	<update id="modifyMember" parameterType="MemberDto">
		UPDATE MEMBER SET NAME = #{name},
		ZIPCODE = #{zipcode},
		ADDRESS = #{address},
		HP= #{hp},
		EMAIL= #{email}
		WHERE NO = #{no}
	</update>

	<select id="idCheck" parameterType="String" resultType="Integer">
		SELECT COUNT(*) AS COUNT FROM MEMBER WHERE ID = #{id}
	</select>
</mapper>






